$bg-color: #ecf0f1;
$header-bg: #ffffff;
$standard-font-color: #34495e;
$title-color: #bdc3c7;
$title-color2: #2ecc71;
$title-color3: #16a085;
$hover: #8e44ad;
$white: #f1f1f1;
$project-bg: #2c3e5066;
