@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");

$standard-paragraph: 20px;
$standard-font-size: 25px;
$title-font: "Kaushan Script", cursive;
$standard-font: "Roboto", Arial, sans-serif;
